body {
    background-color: rgb(181, 181, 181);
}

h1 {
    color: rgb(65, 64, 64);
    text-align: center;
}
h2 {
    text-align: center;
}

input {
    margin-left: 510px;
    align-content: center;
}